@import "tailwindcss";

::-webkit-scrollbar {
    display: none;
}

/* Custom styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white text-gray-900 font-sans;
  }
}

@layer components {
  .bg-grid-pattern {
    background-image: 
      linear-gradient(90deg, rgba(255,255,255,0.1) 1px, transparent 1px),
      linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px);
    background-size: 20px 20px;
  }
}



@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}


/* // Animations */
@keyframes scale-up-bottom-alternate {0% { transform: scale(0.5); transform-origin: 50% 100%; } 100% { transform: scale(1); transform-origin: 50% 100%;} }

.scale-up-bottom-alternate { 
    animation: scale-up-bottom-alternate 1s ease 0s 1 alternate none; 
}